{
    "parserOptions": {
      "ecmaVersion": 2020, //버전
      "sourceType": "module",//소스타입(script가 아닌 import export)
      "ecmaFeatures": {//특수한기능
        "jsx": true //jsx사용
      }
    },
    "env": { //환경
      "browser": true, //브라우저에서 돌아감
      "node": true, //노드에서 돌아감
      "es6": true //es6에서 돌아감
    },
    "extends": [
      "eslint:recommended",  //기본 규칙을 따름
      "plugin:react/recommended"//기본 규칙을 따름
    ],
    "plugins": [
      "import",
      "react-hooks"
    ],
    "rules": {
    //   "jsx-a11y/label-has-associated-control": "off",
    //   "jsx-a11y/anchor-is-valid": "off"
    }
  }
  