{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components", //styled-components ssr적용
      {
        "ssr": true,
        "displayName": true //
      }
    ]
  ]
}
